<article class="photo-card">
    <div class="image-container">
        <img [src]="photo().image" class="photo-image" loading="lazy">
            <!-- 🔥HEART BUTTON -->
        <button (click)="toggleLike($event)" [class.liked]="isLiked()" class="heart-button" type="button">
            <span class="heart-icon">{{isLiked() ? "❤️" :  "🤍"}}</span>
        </button>
  </div>

    <div class="card-content">
        <h3 class="photo-title">Image  {{photo().id + 1}}</h3>
        <p class="photo-author">
            <img [src]="'https://i.pravatar.cc/24?img=' + photo().id" [alt]="photo().author" class="author-avatar">
            {{ photo().author }}
        </p>
        <div class="photo-stats">
            <span class="likes">❤️ {{ photo().likes }}</span>
            <span class="views">👁️ {{ photo().views }}</span>
        </div>
    </div>
</article>